.header-logo {
  display: inline-block;
  margin-right: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  text-decoration: none;
  /* add the following line */
  left: 15cm;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif, Arial, sans-serif;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif, Arial, sans-serif;
}

nav a:hover {
  color: #f00;
  background-color: #555;
}
