/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 2cm; /* change the margin to 2cm */
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
  font-size: 18px;
}

nav a:hover {
  color: #f00;
  background-color: #555;
}

/* add new CSS rules for the footer links */
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 4cm; /* add margin-right to create the space */
}
